---
layout: base
---

{% include banner.html %}
<main>
  {% for post in site.posts %}
  <article class="box">
    <header class="box__header">
      <h2>
        <a href="{{ post.url }}" class="header__link">{{ post.title }}</a>
      </h2>
      <p class="date">{{ post.date | date_to_string }}</p>
      <p class="tags">
        {% for tag in post.tags %}
          <a href="/tag/{{ tag | slugify }}">{{ tag }}</a>{% if tag != post.tags.last %}, {% endif %}
        {% endfor %}
      </p>
    </header>
    <section class="box__content">
      {{ post.excerpt }} <a href="{{ post.url }}"><em>(Read more...)</em></a>
    </section>
  </article>
  {% endfor %}
</main>
