---
layout: base
---
<header class="hero">
  {% include logo.svg %}
  <img class="hero__image" src="/assets/images/home.jpg">
  <section class="hero__news">
    {{ content }}
  </section>
  <nav class="nav hero__nav">
    {% include nav.html %}
  </nav>
</header>
<p class="hero__caption caption">
  Photo by Will Crooks
</p>
<main id="news">
  {% assign news = site.news | sort: 'order' %}
  {% for post in news %}
    <article class="box">
      <header class="box__header">
        <h2>{{ post.title }}</h2>
      </header>
      <section class="box__main">
        {{ post.content }}
      </section>
    </article>
  {% endfor %}
</main>
