---
layout: default
---

{% assign portfolios = site.galleries | sort: 'order' %}
{% for portfolio in portfolios %}
  <a class="portfolio__link" href="/galleries/{{ portfolio.title | slugify }}">
    <figure class="portfolio">
      <img class="portfolio__image" src="/assets/images/galleries/{{ portfolio.title | slugify }}/{{ portfolio.featured }}">
      <figcaption class="portfolio__logo {{ portfolio.logo }}">
        {% include logos/{{ portfolio.title | slugify }}.svg %}
      </figcaption>
    </figure>
  </a>
{% endfor %}
