.gallery {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.gallery__item {
  flex: 0 1 50%;
  padding: 2px;

  img {
    display: block;
  }

  &.major {
    flex: 100%;
  }
}
