{{ define "main" }}
    <main>
        <header>
            {{ $svg := printf "/svg/%s" .Params.logo.filename_disk }}
            <img src="{{ $svg }}" alt="{{ .Title }}" width="396">
            <h3>{{ .Params.venue }} &mdash; {{ .Params.city }}</h3>
            <p class="credits">
                <span>Directed by {{ .Params.director }}</span>
                <span>Featuring Thomas as {{ .Params.role }}</span>
            </p>
            <p><small>Photos by {{ .Params.photos_by }}</small></p>
        </header>
        <ul class="gallery">
            {{ range .Params.photos }}
                <li class="gallery__item{{ if eq .major true}} major {{ end }}">
                    <a href="/image/full/{{ .directus_files_id.filename_disk }}" data-caption="{{ .directus_files_id.description }}">
                        <img src="/image/thumb/{{ .directus_files_id.filename_disk }}" alt="{{ .directus_files_id.description }}">
                    </a>
                </li>
            {{ end }}
        </ul>
    </main>
{{ end }}
