a {
    text-decoration: none;
	color: $bluewhite;
	background-image: linear-gradient(rgba($bluewhite, 0.25) 0%, $bluewhite 100%);
	background-repeat: repeat-x;
	background-size: 1px 1px;
	background-position: 0 85%;
	text-shadow: 3px 0 $black, 2px 0 $black, 1px 0 $black, -1px 0 $black, -2px 0 $black, -3px 0 $black;

    &:visited {
		color: $grey;
		background-image: linear-gradient(rgba($grey, 0.25) 0%, $grey 100%);
	}

	&:hover {
		color: $white;
		background-image: linear-gradient(rgba($white, 0.25) 0%, $white 100%);
	}
}
