.box {
  width: 100%;
  margin: 4em auto;

  &:first-of-type { margin-top: 0; }
  &:last-of-type  { margin-bottom: 0; }
}

.box__header {
  display: flex;
  flex-wrap: wrap;

  h2 {
    flex: 100%;
    margin: 0 0 0.5em;
  }

  .date,
  .tags {
    flex: 50%;
    margin: 0;
    align-self: center;
  }
}

.box__main {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 4px;
}

.box__footer {
  display: grid;
  grid-template-columns: [start] 1em [info] 1fr [credits] 1fr 1em [end];
  grid-gap: 10px;
  border: 2px solid $base-100;
  margin-top: 1.5em;

  @media screen and (max-width: 767px) {
      grid-template-columns: [start] 1em [info credits] 1fr 1em [end];
  }
}

.box__footer__header {
    grid-column: start / end;
    text-align: center;
    font-weight: bold;
    background: #add2e6;
    color: #2a2a2a;
    padding: 0.25em;
}

.box__footer__info {
    grid-column: info;

    p {
        display: flex;
    }

    strong {
        margin-right: 1em;
    }
}

.box__footer__credits {
    grid-column: credits;
}
