.nav {
  margin-left: auto;
}

.nav__list {
  list-style: none;
  padding-left: 0;
}

.nav__item {
  display: inline-block;
  margin: 1em;

  &.active {
    .nav__link {
      color: #f2f2f2;
    }
  }
}

@media screen and (max-width: 800px) {
  .nav {
    text-align: center;
    margin: 0;
  }

  .nav__item {
    margin: 0.5em;
  }
}
