{{ define "main" }}
<ul class="ui-list">
    {{ range .Pages }}
        {{ $featured := (index .Params.photos 0).directus_files_id }}
        {{ range .Params.photos }}
            {{ if .featured }}
                {{ $featured = .directus_files_id }}
            {{ end }}
        {{ end }}
        <li>
            <a href="{{ .Permalink }}">
                <figure class="portfolio">
                    <img class="portfolio__image" src="{{ site.Params.images_prefix }}/{{ $featured }}?key=media-list">
                    <img class="portfolio__logo {{ .Params.direction }}" src="{{ site.Params.images_prefix }}/{{ .Params.logo }}" title="{{ .Title }}">
                </figure>
            </a>
        </li>
    {{ end }}
</ul>
{{ end }}
