{{ define "main" }}
<ul class="ui-list">
    {{ range .Pages }}
        {{ $featured := .Params.featured | default (index .Params.photos.blocks 0).data.file.fileId }}
        <li>
            <a href="{{ .Permalink }}">
                <figure class="portfolio">
                    <img class="portfolio__image" src="{{ site.Params.assets_url }}/{{ $featured }}?key=big">
                    <img class="portfolio__logo {{ .Params.direction }}" src="{{ site.Params.assets_url }}/{{ .Params.logo }}" title="{{ .Title }}">
                </figure>
            </a>
        </li>
    {{ end }}
</ul>
{{ end }}
