{{ define "main" }}
  <header class="gallery-info">
    {{ $currentPage := . }}
    {{ $resources := .Resources }}
    {{ range ($resources.Match "logo.svg") }}
      {{ .Content | safeHTML }}
    {{ end }}
    <h3>{{ .Params.venue }} &mdash; {{ .Params.city }}</h3>
    <section class="gallery-info__credits">
      <span>Directed by {{ .Params.director }}</span>
      <span>Featuring Thomas as {{ .Params.role }}</span>
    </section>
    <p class="small">Photos by {{ .Params.photos_by }}</p>
    <ul class="gallery">
      {{ $images := $resources.Match "*.jpg" }}
      {{ range sort $images $currentPage.Params.order }}
        {{ $image400x := (.Resize "400x") }}
        <li class="gallery__item">
          <a href="{{ .Permalink }}" data-caption="">
            <img src="{{ $image400x.Permalink }}">
          </a>
        </li>
      {{ end }}
    </ul>
  {{ .Content }}
{{ end }}
