{{ define "main" }}
    <header class="gallery-info">
        <object class="logo" type="image/svg+xml" data="{{ site.Params.assets_url }}/{{ .Params.logo }}">
            {{ .Title }}
        </object>
        <h3>{{ .Params.venue }} &mdash; {{ .Params.city }}</h3>
        <section class="gallery-info__credits">
            <span>Directed by {{ .Params.director }}</span>
            <span>Featuring Thomas as {{ .Params.role }}</span>
        </section>
        <p class="small">Photos by {{ .Params.photos_by }}</p>
    </header>
    <ul class="gallery">
        {{ range sort .Params.photos "weight" }}
            {{ $key := "thumb" }}
            {{ if .big }}
                {{ $key = "big" }}
            {{ end }}
            <li class="gallery__item {{ $key }}">
                <a data-fslightbox {{ with .caption }} data-caption="{{ . }}" {{ end }} href="{{ site.Params.assets_url }}/{{ .directus_files_id }}?key=full" data-caption="{{ .caption }}">
                    <img src="{{ site.Params.assets_url }}/{{ .directus_files_id }}?key={{ $key }}" alt="{{ .caption }}">
                </a>
            </li>
        {{ end }}
    </ul>
    {{ .Content }}
    {{ $lightbox := resources.Get "scripts/vendor/fslightbox.js" }}
    {{ $js := $lightbox | fingerprint }}
    <script src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}" defer async></script>
{{ end }}
