$font-dir: '../fonts/';

@mixin font-face($name, $font-files, $weight: false, $style: false){
	@font-face {
		font-family: quote($name);
		src: url("#{$font-dir}#{$font-files}.eot");
		src: url("#{$font-dir}#{$font-files}.eot?#iefix") format("embedded-opentype"),
			 url("#{$font-dir}#{$font-files}.woff") format("woff"),
			 url("#{$font-dir}#{$font-files}.ttf") format("truetype"),
			 url("#{$font-dir}#{$font-files}.svg") format("svg");
		@if $weight { font-weight: $weight; }
		@if $style { font-style: $style; }
	}
}

@include font-face("fontello", fontello);
@include font-face("Fanwood Regular", Fanwood-webfont);
@include font-face("Fanwood Italic", Fanwood-Italic-webfont);
@include font-face("Junction Regular", Junction-webfont);

.icon:before, .icon:before {
	color: $white;

	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	/* opacity: .8; */

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: .2em;

	/* you can be more comfortable with increased icons size */
	font-size: 1.4em;

	/* Uncomment for 3D effect */
	text-shadow: 1px 1px 1px transparentize( $black, 0.3 );
}

.icon--menu:before { content: '\e800'; } /* '' */
.icon--close:before { content: '\e802'; } /* '' */
