.gallery{
	@include col;
	width: 31%;
	text-align: center;
	margin: 1em 1%;
	@media screen and (max-width: 870px){
		width: 48%;
		margin: 1em 1%;
	}
	@media screen and (max-width: 479px){
		width: 100%;
		clear: both;
	}
}

.header--gallery{
	min-height: 5em;
	width: 100%;
	max-width: 100%;
	@media screen and (max-width: 870px){
		float: none;
		margin: 0;
	}
}

.gallery__content{
	background: $black;
}

.gallery__list{
	margin-top: 0;
}

.gallery__item {
	border: none;
}

.gallery__list-item {
	&:not(:first-of-type) {
		display: none;
	}
}
