.banner {
  position: sticky;
  z-index: 2;
  top: 0;
  width: 100%;
  display: flex;
  background: $base-700;
  align-items: center;
  padding: 0 3em;

  a {
    color: lighten($base-100, 5%);
  }

  .logo {
    max-height: 50px;
  }

  @media screen and (max-width: 800px) {
    position: static;
    flex-direction: column;
    margin-bottom: 1em;
    padding: 0;

    .logo {
      height: 100px;
    }

    .blurb {
      order: 3;
      width: 100%;
      background: $base-500;
      margin: 0;
      padding: 1em;
    }
  }
}

.banner__logo {
  margin: 4px 1em;
}
