.form__label {
    font-size: 0.75em;
}

.form__text,
.form__textarea {
    display: block;
    font-size: 1rem;
    margin-bottom: 1em;
}

.name,
.comment,
.submit {
    grid-column: left;
}

.email {
    grid-column: right;
}

.form__textarea {
    width: 70%;
    min-height: 200px;
    padding: 1px 9px;
    border-radius: 5px;
}

.gotcha {
    display: none;
}