.hero {
  display: grid;
  grid-template-rows: [start logo] 200px [nav news] 1fr [bottom] 200px [end];
  grid-template-columns: [start nav] 1fr [logo center] 1fr [news] 1fr [end];
  height: 100vh;
  height: calc(100vh - var(--vh-offset, 0px));
  align-items: center;
  font-size: 125%;
  background: #171b1f;
  overflow: hidden;

  .logo {
    grid-row: logo;
    grid-column: logo;
    z-index: 2;
    justify-self: center;
    width: 264.903px;
    height: 158.889px;
  }
}

.hero__image {
  grid-row: start / end;
  grid-column: start / end;
  width: 100%;
  height: auto;
  object-fit: contain;
  align-self: end;

  @media screen and (min-width: 801px) {
    max-height: calc(100vh - 50px);
  }
}

.hero__news {
  grid-row: news;
  grid-column: news;
  padding: 0 10px;
  animation: slideFromRight 0.75s ease-in 2s forwards;
}

.hero__nav {
  grid-row: nav;
  grid-column: nav;
  margin: 0 !important;
  padding-left: 40px;
  animation: slideFromLeft 0.75s ease-in 1s forwards;

  .nav__item {
    margin-bottom: 1em;
    display: block;
  }
}

.hero__caption {
  position: relative;
  bottom: 100%;
  margin: 0 0 0 1em;
}

@supports (animation-name: slideFromBottom) {
  .hero__nav,
  .hero__news {
    opacity: 0;
  }
}

@media screen and (max-width: 800px) {
  .hero {
    grid-template-rows: [start logo] auto [news] 1fr [nav] auto [end];
    grid-template-columns: [start logo nav news] 1fr [end];

    .logo {
      max-height: 100px;
      align-self: start;
      margin-top: 10px;
    }
  }

  .hero__image {
    height: 100%;
    object-fit: cover;
  }

  .hero__news {
    margin: 0 auto;
    align-self: end;
    background: transparentize($base-500, 0.5);
    animation: slideFromBottom 0.75s ease-in 2s forwards;
  }

  .hero__nav {
    align-self: end;
    padding-left: 0;
    background: transparentize($base-900, 0.5);
    animation: slideFromBottom 0.75s ease-in 1s forwards;
    font-size: 80%;

    .nav__item {
      display: inline-block;
      margin: 0.25em;
    }
  }

  @supports (animation-name: slideFromBottom) {
    .hero__news,
    .hero__nav {
      opacity: 0;
    }
  }
}
