.portfolio {
  display: grid;
  grid-template: 1fr / 1fr;
  margin: 0 0 1em;

  &:hover {
    .portfolio__image { filter: sepia(80%); }
    .portfolio__logo  { transform: scale(1.1); }
  }
}

.portfolio__image {
  grid-column: 1;
  grid-row: 1;
  transition: .2s ease all;
  transform-origin: bottom left;
}

.portfolio__logo {
  grid-column: 1;
  grid-row: 1;
  z-index: 1.5;
  fill: #f2f2f2;
  transition: .4s ease all;
  max-width: 50%;
  margin: 20px;

  &.southwest {
    transform-origin: bottom left;
    align-self: end;
  }

  &.southeast {
    align-self: end;
    justify-self: end;
    transform-origin: bottom right;
  }

  &.north {
    justify-self: center;
    transform-origin: top center;
  }

  &.northwest {
    transform-origin: top left;
  }

  &.northeast {
    justify-self: end;
    transform-origin: top right;
  }
}
