body{
	font-family: 'Fanwood Regular', $georgia;
	color: $white;
	font-size: 20px;
	line-height: 1.25;
	i, em{
		font-family: "Fanwood Italic", $georgia;
	}
}

.header--top, .header--main{
	text-align: center;
	color: $white;
}

.header--main{
	padding-top: 3em;
	font-size: 0.8em;
}

.header, .nav--main{
	font-family: 'Junction Regular', $helvetica;
}

.header__text{
	font-weight: normal;
}

.header__text--main{
	font-size: 1.6em;
	padding-bottom: 0.67em;
}

.header__subtext{
	font-size: 1.2em;
}

.header__text--top, .header__subtext--top{
	margin: 0;
	font-weight: normal;
}

.header__text--top{
	padding-top: 0.67em;
}

.header__subtext--box{
	font-size: 1em;
	font-weight: normal;
}

.header__text--box{
	font-size: 1.4em;
}

.header__link--top{
	text-decoration: none;
	color: $white;
}
