<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ $.Site.Title }} - {{ .Page.Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ $options := (dict "targetPath" "css/main.css" "outputStyle" "compressed" "enableSourceMap" true ) }}
    {{ $style := resources.Get "styles/main.scss" | resources.ToCSS $options | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">

    <!-- ****** faviconit.com favicons ****** -->
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="/images/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="/images/favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="/images/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/images/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16.png">
    <link rel="apple-touch-icon" href="/images/favicon-57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon-72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon-144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon-60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon-120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon-76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon-180.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/favicon-144.png">
    <meta name="msapplication-config" content="/browserconfig.xml">
    <!-- ****** faviconit.com favicons ****** -->

    {{ $baguetteBox := resources.Get "scripts/vendor/baguetteBox.js" }}
    {{ $smoothScroll := resources.Get "scripts/vendor/smooth-scroll.js" }}
    {{ $vhCheck := resources.Get "scripts/vendor/vh-check.min.js" }}
    {{ $jsMain := resources.Get "scripts/main.js" }}
    {{ $js := slice $baguetteBox $smoothScroll $vhCheck $jsMain | resources.Concat "js/scripts.js" | minify | fingerprint }}
    <script src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}" defer async></script>

    <script async defer data-domain="thomasazar.net" src="https://plausible.thomasazar.net/js/plausible.js"></script>
</head>

<body class="{{ .Page.Title | urlize | lower }}">
    {{ block "header" .}}
        {{ partial "banner.html" . }}
    {{ end }}
    {{ range .Params.blocks }}
        {{ partial "blocks/big-quote" . }}
    {{ end }}
    <main>
        {{ block "main" . }}{{ end }}
    </main>
</body>
</html>
