{{ define "header" }}
  <header class="hero">
    {{ readFile "/static/images/logo.svg" | safeHTML }}
    <img class="hero__image" src="/images/home.jpg">
    <section class="hero__news">
      {{ .Content }}
    </section>
    <nav class="nav hero__nav">
      <ul class="nav__list">
        {{ range .Site.Menus.main }}
          <li class="nav__item">
            {{ if eq .Name "News" }}
              <a class="nav__link" href="#news">{{ .Name }}</a>
            {{ else }}
              <a class="nav__link" href="{{ .URL }}">{{ .Name }}</a>
            {{ end }}
          </li>
        {{ end }}
      </ul>
    </nav>
  </header>
  <p class="hero__caption caption">
    Photo by Will Crooks
  </p>
  {{ partial "banner.html" . }}
{{ end }}
{{ define "main" }}
  <section id="news">
    {{ range .Params.blocks }}
        {{ if eq .template "news" }}{{ partial "blocks/news" (dict "Params" .) }}{{ end }}
        {{ if eq .template "footer" }}{{ partial "blocks/footer" (dict "Params" .) }}{{ end }}
    {{ end }}
  </section>
{{ end }}
