html {
  background: $base-900;
  box-sizing: border-box;
  font-family: 'Jost';
  line-height: 1.4;
  color: #efefef;

  @media screen and (min-width: 900px) {
    font-size: 125%;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
