main {
  display: grid;
  grid-template-columns: var(--grid-primary);

  @media screen and (min-width: 60rem) {
      grid-template-columns: var(--grid-desktop);
  }

  > * {
      grid-column: main-content;
  }
}
