<ul class="nav__list">
  {% assign navigation_pages = site.pages | sort: 'order' %}
  {% for p in navigation_pages %}
    {% if p.order %}
      <li class="nav__item{% if p.url == page.url and page.url != '/' %} active{% endif %}">
        {% if p.url == '/' and page.url == '/' %}
          <a class="nav__link" href="#news">{{ p.title }}</a>
        {% else %}
          <a class="nav__link" href="{{ p.url }}">{{ p.title }}</a>
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>
