<form class="form" id="comments-form" action="https://formspree.io/mgeyppor" method="POST">
    <label class="form__label" for="name">Name</label>
    <input class="form__text" type="text" name="name" placeholder="First and Last" required="">
    <label class="form__label" for="_replyto">Email</label>
    <input class="form__text" type="email" name="_replyto" placeholder="address@example.com" required="">
    <label class="form__label" for="comment">Comment</label>
    <textarea class="form__textarea" type="text" name="comment" placeholder="My thoughts on '{{ .Title }}''" required=""></textarea>
    <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission: {{ .Title }}">
    <input type="text" name="_gotcha" class="gotcha" />
    <input class="form__button submit" id="submit-button" type="submit" value="Send 'em my way">
</form>
<p id="form-status"></p>

<!-- Place this script at the end of the body tag -->

<script>
  window.addEventListener("DOMContentLoaded", function() {

    // get the form elements defined in your form HTML above

    var form = document.getElementById("comments-form");
    var button = document.getElementById("submit-button");
    var status = document.getElementById("form-status");

    // Success and Error functions for after the form is submitted

    function success() {
      form.reset();
      button.style = "display: none ";
      status.innerHTML = "Thanks for sharing!";
    }

    function error() {
      status.innerHTML = "Oops! There was a problem.";
    }

    // handle the form submission event

    form.addEventListener("submit", function(ev) {
      ev.preventDefault();
      var data = new FormData(form);
      ajax(form.method, form.action, data, success, error);
    });
  });

  // helper function for sending an AJAX request

  function ajax(method, url, data, success, error) {
    var xhr = new XMLHttpRequest();
    xhr.open(method, url);
    xhr.setRequestHeader("Accept", "application/json");
    xhr.onreadystatechange = function() {
      if (xhr.readyState !== XMLHttpRequest.DONE) return;
      if (xhr.status === 200) {
        success(xhr.response, xhr.responseType);
      } else {
        error(xhr.status, xhr.response, xhr.responseType);
      }
    };
    xhr.send(data);
  }
</script>