<footer class="box__footer">
    <header class="box__footer__header">
        {{ .Params.title }}
    </header>
    <section class="box__footer__info">
        <p>
            <strong>Where</strong>
            <span>{{ .Params.where }}</span>
        </p>
        <p>
            <strong>When</strong>
            <span>{{ .Params.when }}</span>
        </p>
        <p>
            <strong>Tickets</strong>
            <span>Online at <a href="{{ .Params.link }}">{{ .Params.text }}</a>,<br> or by phone at <a href="tel:{{ urlize .Params.phone }}">{{ .Params.phone }}</a></span>
        </p>
    </section>
    <section class="box__footer__credits">
        <p>Directed by {{ .Params.director }}</p>
        <p>{{ .Params.featuring }}</p>
    </section>
</footer>
