<nav class="nav nav--main">
  <i class="nav__checkbox icon icon--menu" type="checkbox"></i>
  <ul id="menu-navigation" class="list nav__list nav__list--main">
    {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}
    {% for p in navigation_pages %}
    {% if p.navigation_weight %}
    <li class="menu-item{% if p.url == page.url %} active{% endif %}">
      <a href="{{ p.url }}">{{ p.title }}</a>
    </li>
    {% endif %}
    {% endfor %}
    <i class="nav__checkbox icon icon--close" type="checkbox"></i>
  </ul>
</nav>
