<footer class="box__footer">
  <section class="box__footer__info">
    <table class="box__footer__table">
      <tr>
        <td>Where</td>
        <td>The Warehouse Theatre<br>37 Augusta Street<br>Greenville, South Carolina 29601</td>
      </tr>
      <tr>
        <td>When</td>
        <td>January 25 &ndash; February 10, 2019</td>
      </tr>
      <tr>
        <td>Tickets</td>
        <td>Online at <a href="https://app.arts-people.com/index.php?ticketing=wht">WarehouseTheatre.com</a><br>or<br>By phone at <a href="tel:8642356948">(864) 235-6948</a></td>
      </tr>
    </table>
  </section>
  <section class="box__footer__credits">
    <p>Directed by Kerrie Seymour</p>
    <p>Starring Thomas Azar as Tom, Mimi Wyche as Amanda, Kathryn Hinton as Laura, Drew Whitley as Jim</p>
    <p>Sponsored by The Wallace Foundation</p>
  </section>
</footer>
